@font-face {
    font-family: MullerBold; /* Гарнитура шрифта */
    src: url(fonts/MullerBold.otf); /* Для IE5-8 */
    src: local(MullerBold), url(fonts/MullerBold.otf); /* Для остальных браузеров */
   }

@font-face {
    font-family: MullerRegular; /* Гарнитура шрифта */
    src: url(fonts/MullerRegular.otf); /* Для IE5-8 */
    src: local(MullerRegular), url(fonts/MullerRegular.otf); /* Для остальных браузеров */
   }

@font-face {
    font-family: MullerLight; /* Гарнитура шрифта */
    src: url(fonts/MullerLight.otf); /* Для IE5-8 */
    src: local(MullerLight), url(fonts/MullerLight.otf); /* Для остальных браузеров */
   }
